body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
  text-align: center;
}

p.weekday {
  margin-top: 20px;
  font-size: 20;
}


div.contrats {
    padding-bottom: 0.5%;
}

div#weekday rect {
    fill: #FF0080;
}

div#cdi rect {
    fill: #1589FF;
}

div#cdd rect {
    fill: #E56717;
}

div#stage rect {
    fill: #54C571;
}

div#fpt rect {
    fill: #FFD801;
}

div#mission rect {
    fill: #8904B1;
}

div#apprentissage rect {
    fill: #E55B3C;
}

div#autre rect {
    fill: #7E3817;
}