{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
<a href="https://github.com/pvernier/elpaso">
<img width="149" height="149" alt="Fork me on GitHub" src="{% static "img/forkme.png" %}" style="position:fixed;top:0;right:0;border:0;z-index:10000;">
</a>
<h2>Origine</h2>
<div>
    Bla bla
</div>
<h2>Nom du projet</h2>
<div>
    Pourquoi El Paso ? Depuis des temps immémoriaux, le choix d'un nom de projet informatique est cornélien. Né autour de fajitas et de rhum, le nom El Paso s'est imposé comme une évidence. Bien traduit, il représente le petit pas qui sépare un chercheur d'emploi d'un poste. Une simple offre, un simple pas... non, en fait, rien de tout cela, c'était juste parce-que les fajitas étaient bonnes !
</div>
<h2>Auteurs</h2>
<div>
    <a href="http://www.geotribu.net/julien_moura">Julien Moura</a>
    <br/>&<br/>
    <a href="http://www.geotribu.net/pierre_vernier">Pierre Vernier</a>
</div>
<h2>Contact</h2>
<div>
    @
</div>
{% endblock content %}