{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
    <p class="weekday">Nombre d'annonces par jour de la semaine :</p>
    <div id= "weekday">
        <script type="text/javascript">
            //Width and height
            var w = 600;
            var h = 100;

            d3.json("../static/json/contrats_days_of_week.json", function(json) {
              dataset = json.numbers;
              legend = json.days;
              var xScale = d3.scale.ordinal()
              .domain(d3.range(dataset.length))
              .rangeRoundBands([0, w], 0.05);

              var yScale = d3.scale.linear()
              .domain([0, d3.max(dataset)])
              .range([0, h]);

          //Create SVG element
          var svg = d3.select("div#weekday")
          .append("svg")
          .attr("width", w)
          .attr("height", h);

          //Create bars
          svg.selectAll("rect")
          .data(dataset)
          .enter()
          .append("rect")
          .attr("x", function(d, i) {
            return xScale(i);
          })
          .attr("y", function(d) {
            return h - yScale(d);
          })

          .attr("title", function(d, i) {
            return legend[i];
          })
          .attr("class", "weekday")
          .attr("data-toggle", "tooltip")
          .attr("width", xScale.rangeBand())
          .attr("height", function(d) {
            return yScale(d);
          });

          //Create labels
          svg.selectAll("text")
          .data(dataset)
          .enter()
          .append("text")
          .text(function(d) {
            return d;
          })
          .attr("text-anchor", "middle")
          .attr("x", function(d, i) {
            return xScale(i) + xScale.rangeBand() / 2;
          })
          .attr("y", function(d) {
            return h - yScale(d) + 14;
          })
          .attr("font-family", "sans-serif")
          .attr("font-size", "11px")
          .attr("fill", "white");

          $(document).ready(function () {
            $("svg rect").tooltip({
              'container': 'body',
              'placement': 'top'
            });
          });

        });
        </script>
    </div>

    <br/>

    <div class="btn-group">
      <button type="button" id="week" class="btn btn-default">Semaine</button>
      <button type="button" id="month" class="btn btn-default">Mois</button>
      <!-- <button type="button" id="year" class="btn btn-default">Année</button> -->
    </div>
    <br/>
        <div id='chart' class='span4'>
            Répartition des types de contrats par mois
            <svg style='height:600px;width:80%'> </svg>
        </div>
    <script type="text/javascript">
      //Width and height
      $(".btn-default").click(function() {
        // Remove div if they exist before creating them again
        $( "div.contrats").remove();
        periode = $(this).attr('id');
            
        d3.json('../static/json/types_contrats_' + periode + '.json', function(data) {
        nv.addGraph(function() {
        var chart = nv.models.stackedAreaChart()
                      .margin({right: 100})
                      .x(function(d) { return d[0] })   //We can modify the data accessor functions...
                      .y(function(d) { return d[1] })   //...in case your data is formatted differently.
                      .useInteractiveGuideline(true)    //Tooltips which show all data points. Very nice!
                      .transitionDuration(500)
                      .showControls(true)       //Allow user to choose 'Stacked', 'Stream', 'Expanded' mode.
                      .clipEdge(true);

        //Format x-axis labels with custom function.
        chart.xAxis
            .ticks(d3.time.month, 1)
            .tickFormat(function(d) { 
              return d3.time.format('%m/%y')(new Date(d));
        });

        chart.yAxis
            .tickFormat(d3.format(',.0f'));

        d3.select('#chart svg')
          .datum(data)
          .call(chart);

      //Update the chart when window resizes.
      nv.utils.windowResize(function() { chart.update() });
      return chart;

                });      
            });
        });
    </script>
    <script>
        $(function(){
            $(".btn-default").click();
        });
    </script>
{% endblock content %}