{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
        <div class='chart'>
            <h2>Répartition des types de contrats par année</h2>
            <svg id="chart_year"> </svg>
        </div>
            <br/>
        <div class='chart'>
            <h2>Répartition des types de contrats par mois</h2>
            <svg id="chart_month"> </svg>
        </div>
            <br/>

    <script type="text/javascript">

        var mainExample, exampleOne;

        d3.json('../static/json/types_contrats_year.json', function(data) {
        nv.addGraph(function() {
            var chart = nv.models.stackedAreaChart()
                          .margin({right: 100})
                          .x(function(d) { return d[0] })
                          .y(function(d) { return d[1] })
                          .useInteractiveGuideline(true)
                          .showControls(true)
                          .clipEdge(true);

            chart.xAxis
            .tickFormat(function(d) { 
              return d3.time.format('%Y')(new Date(d));
            });

            chart.yAxis
            .tickFormat(d3.format('d'))

            d3.select('div.chart svg#chart_year')
                .datum(data)
              .transition().duration(500).call(chart);

            nv.utils.windowResize(chart.update);

            chart.legend.dispatch.on('legendClick.updateExamples', function(d, i) {
              /*console.log(d);
              console.log(i);*/
              exampleOne.update();
              /*setTimeout(function() {
                //alert('legend was clicked');
                exampleOne.update();
              }, 100);*/
            });

            mainExample = chart;

            return chart;
          });
        });



        d3.json('../static/json/types_contrats_month.json', function(data) {
        nv.addGraph(function() {
            var chart = nv.models.stackedAreaChart()
                          .margin({right: 100})
                          .x(function(d) { return d[0] })
                          .y(function(d) { return d[1] })
                          .useInteractiveGuideline(true)
                          .showControls(false)
                          .showLegend(false)
                          .clipEdge(true);

            chart.xAxis
            .tickFormat(function(d) { 
              return d3.time.format('%Y')(new Date(d));
            });

            chart.yAxis
            .tickFormat(d3.format('d'))

            d3.select('div.chart svg#chart_month')
                .datum(data)
              .transition().duration(500).call(chart);

            nv.utils.windowResize(chart.update);

            /*chart.stacked.dispatch.on('elementClick.updateExamples', function(e) {
            setTimeout(function() {
              mainExample.update();
            }, 100);
          });*/

            exampleOne = chart;

            return chart;
          });
        });

    </script>
{% endblock content %}