{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>Statistiques sur l'emploi en géomatique francophone</h1>
<div class="row">

    <div class="span8">
        <div>
            GeoRezo => Django => 
        </div>
        <div>Métriques globales</div>
        <div>camembert types contrats total</div>
        <div>autre graph</div>
        <h2>Historique</h2>
        <div>
            envie de faire un projet utile en utilisant des technos sympas.
        </div>
        <h2>Nom du projet</h2>
        <div>
            Pourquoi El Paso ? Depuis des temps immémoriaux, le choix d'un nom de projet informatique est cornélien. Né autour de fajitas et de rhum, le nom El Paso s'est imposé comme une évidence. Bien traduit, il représente le petit pas qui sépare un chercheur d'emploi d'un poste. Une simple offre, un simple pas... non, en fait, rien de tout cela, c'était juste parce-que les fajitas étaient bonnes !
        </div>
        <h2>Auteurs</h2>
        <div>
            <a href="http://www.geotribu.net/julien_moura">Julien Moura</a>
            <br/>&<br/>
            <a href="http://www.geotribu.net/pierre_vernier">Pierre Vernier</a>
        </div>
        <h2>Contact</h2>
        <div>
            @
    <!-- <form action="/" method="post">{% csrf_token %}

            {{ form.sender.errors }}
            <p><label for="e-mail">E-mail</label>  {{ form.sender }}</p>
            {{ form.subject.errors }}
            <p><label for="asunto">Sujet</label>  {{ form.subject }}</p>
            {{ form.message.errors }}
            <p><label for="mensaje">Message</label>  {{ form.message }}</p>

            
            <p class="submit"><input type="submit" value="GO!" /></p>

        </form> -->
    </div>
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <p><i class="fa fa-briefcase"></i> {{ nb_contrats }} offres répertoriées du {{ first_date }} au {{ last_date }}</p>
        <p><i class="fa fa-calendar"></i> {{ nb_years }} ans, {{ nb_months }} mois et {{ nb_weeks }} semaines.</p>
        <p><i class="fa fa-font"></i> {{ nb_words }} mots différents</i></p>
    </div>
</div>
</div>
{% endblock content %}