{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>El Paso <br /> Statistiques dynamiques sur l'emploi en géomatique francophone</h1>
<div class="row">
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-briefcase fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{ nb_contrats }}</div>
						<div>offres répertoriées</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-calendar fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div>depuis le <span class="medium">{{ first_date }}</span><br /<>jusqu'au  <span class="medium">{{ last_date }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-clock-o fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
					<div><span class="medium">{{ nb_years }}</span> ans,<span class="medium">{{ nb_months }}</span> mois et <span class="medium">{{ nb_weeks }}</span> semaines de modération !</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" align="justify">
	<div class="col-lg-7 col-md-4">
		<h2 align="justify">Le métier de géomaticien/ne</h2>
		<div>
			<p>Tout géomaticien(ne) qui se respecte connaît GeoRezo. Même si nous n'allons pas régulièrement consulter les innombrables forums et contenus, il y a généralement un forum par lequel nous passons tous tôt ou tard : le forum Job. Que l'on y aille en tant que recruteur ou candidat, ce forum est incontournable pour le marché de l'emploi dans le secteur.

		Même s'il ne peut évidemment pas prétendre à l'exhaustivité, ce forum concentre, de part sa popularité, un grand nombre d'offres d'emploi et de stages dans notre domaine. 

		Ces résultats statistiques (lorsqu'ils seront complets) permettront cependant de brosser un portrait sinon réaliste, du moins représentatif du marché du travail actuel.</p>
		</div>
	</div>
	<div class="col-lg-6 col-md-4">
		<div>
			GeoRezo => Django => 
		</div>
		<div>autre graph
			2 petits liens à ajouter à la page d'accueil :
			- Page centralisant les informations sur la Démarche Métiers :
			http://georezo.net/metiers

			- Page restituant les résultats des premières analyses des offres de 2007 à 2009 :
			http://georezo.net/blog/laminute/2010/02/18/metiers-analyse-georezo/


			<a class="thumbnail">
				<img src="{% static "img/logo_georezo.png" %}" alt="Logo ElPaso" >
			</a>
			<a class="thumbnail">
				<img src="{% static "img/logo_rss.png" %}" alt="Logo ElPaso" >
			</a>
			<a class="thumbnail">
				<img src="{% static "img/logo_django.png" %}" alt="Logo ElPaso" >
			</a>
			<a class="thumbnail">
				<img src="{% static "img/logo_SQLite.png" %}" alt="Logo ElPaso" >
			</a>
			<a class="thumbnail">
				<img src="{% static "img/logo_d3.png" %}" alt="Logo ElPaso" >
			</a>

		</div>
	</div>

		<div>
			
		</div>
		<h2>Un travail en cours</h2>
		<div>
			Ce travail s'ancre dans la continuité de celui entamé par GeoRezo depuis des années. Ce site a vocation à être enrichi progressivement avec de nouveaux résultats statistiques (spatialisation des offres, analyses lexicométriques...) et interprétations en matières de répartition et évolution dans le temps.
			<br />
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			    <span class="sr-only">40% Complete (success)</span>
			  </div>
			</div>
		</div>



<div class="row">
	<div class="col-lg-7 col-md-4">
		<h3 align="justify">Nom</h3>
		<div class="col-lg-2 col-md-1">
			<a class="thumbnail">
				<img src="{% static "img/logo_OldElPaso.jpg" %}" alt="Logo ElPaso" >
			</a>
		</div>
		<div class="col-lg-10 col-md-3" align="justify">
			Pourquoi El Paso ? Depuis des temps immémoriaux, le choix d'un nom de projet informatique est cornélien. Né autour de fajitas et de rhum, le nom El Paso s'est imposé comme une évidence. Bien traduit, il représente le petit pas qui sépare un chercheur d'emploi d'un poste. Une simple offre, un simple pas... non, en fait, rien de tout cela, c'était juste parce-que les fajitas étaient bonnes !
		</div>
	</div>

	<div class="col-lg-5 col-md-3">
		<h3 align="justify">Auteurs</h3>
		<div class="col-lg-3 col-md-1">
			<a class="thumbnail">
				<img src="{% static "img/logo_GeoTribu.png" %}" alt="Logo ElPaso" >
			</a>
		</div>
		<div class="col-lg-7" align="justify">
			<p>On avait envie de faire un projet utile en utilisant des technologies sympas et l'idée est venue à Pierre.</p>
			<div class="btn-group btn-group-justified" role="group">
			<a class="btn btn-default" href="http://www.geotribu.fr/julien_moura" target="_blank" role="button">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Julien Moura
			</a>
			<a class="btn btn-default" href="http://www.geotribu.fr/pierre_vernier" target="_blank" role="button">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Pierre Vernier
			</a>
			</div>
		</div>
	</div>
</div>

</div>

{% endblock content %}