{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}
<p class="technos_global">Proportions des types de technologies mentionnées</p>

<div id='piechart_technos_global'>
  <svg class="piechart_technos_global" style="height:500px;width:400px"> </svg>
</div>

<script type="text/javascript">
  /* D3  */
  d3.json('../static/json/technos_global.json', function(data) {
    nv.addGraph(function() {
      var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(false);

      d3.select("#piechart_technos_global svg")
      .datum(data)
      .transition().duration(550)
      .call(chart);

      return chart;
    });
  });
</script>
{% endblock content %}