{% extends "jobs/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="col-lg-12">
  <h1 class="page-header"><i class="fa fa-sort-desc fa-fw"></i> Les 50 dernières offres</h1>
</div>

<div class="panel panel-default">
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div>
      <ul class="timeline" id="tmline">
      </ul>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

<script type="text/javascript">
  $.getJSON('../static/json/last50.json', function(data) {
    var output="";
    var x=0
    for (var i in data) {
      /*change style according to the kind of contract*/
      var kind="";
      var badge="";
      var sens="";
      if (data[i].kind == 'cdi') {
        kind += 'fa-star'
        badge += 'success'
      } else if (data[i].kind == 'cdd' || 'fpt') {
        kind += 'fa-star-o'
        badge += 'info'
      } else if (data[i].kind == 'these') {
        kind += 'fa-graduation-cap'
        badge += 'primary'
      } else if (data[i].kind == 'stage' || 'apprentissage') {
        kind += 'fa-child'
        badge += 'default'
      } else if (data[i].kind == 'mission') {
        kind += 'fa-history'
        badge += 'warning'
      }

      /*alternate item side*/
      if (x%2 == 0){
        sens = "class='timeline-inverted'"
      } 

      /*generate timeline item*/
      output+="<li " + sens + "><div class='timeline-badge " + badge + "'><i class='fa " + kind + "'></i></div><div class='timeline-panel'><div class='timeline-heading'><h4 class='timeline-title'>" + data[i].titre + "</h4></h4><p><small class='text-muted'><i class='fa fa-clock-o'></i> " + data[i].date_pub +"</small></p></div><div class='timeline-body'><p>"+ data[i].summary + "...<br /><br /><a target='_blank' href='"+ data[i].read_more +"'><button type='button' class='btn btn-default'>Voir l'annonce en entier</button></a></p></div></div></li>";

      /*incrementing index*/
      x += 1
    }

    /*insertion dans le corps du html*/
    document.getElementById("tmline").innerHTML=output;
  });

</script>

{% endblock content %}